<a href="https://colab.research.google.com/github/tiendatngcs/NLP/blob/master/3_Data_exploration_Vietnamese_news_topic_classifier.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import pickle as pkl

In [2]:
with open("/content/drive/My Drive/filtered_corpus_df.pkl", "rb") as infile:
  df = pkl.load(infile)

In [3]:
df

               0   1   2    3    4   5    6
aaron          0   1   5    0    1   0    0
abbey          0   1   3    0    0   0    0
abc            1   5   0    1    5   0    0
abdelrahman    0   5   0    0    0   0    0
abe            6   0   0    0    0   0    0
...          ...  ..  ..  ...  ...  ..  ...
ủi             1   2   5    1   14   4    0
ủng           26  50  25   10   39  14   29
ủy            14   8   1   10    7   2   19
ức             1  20   4    8   16   3    0
ứng          306  47  71  194  100  89  760

[6018 rows x 7 columns]

In [4]:
df.describe()

                 0            1  ...            5            6
count  6018.000000  6018.000000  ...  6018.000000  6018.000000
mean     17.925390    14.014789  ...    13.552011    15.542373
std      73.392796    45.398781  ...    48.926604    63.070747
min       0.000000     0.000000  ...     0.000000     0.000000
25%       0.000000     0.000000  ...     0.000000     0.000000
50%       0.000000     2.000000  ...     1.000000     0.000000
75%       6.000000     8.000000  ...     6.000000     5.000000
max    1438.000000   847.000000  ...  1366.000000  1912.000000

[8 rows x 7 columns]

In [5]:
topic_list = ['business', 'entertainment', 'sports', 'health', 'life', 'travel', 'digital']
topic_dict = dict(enumerate(topic_list))

Below are max recurring words for each topic. Which makes a lot of sense.

In [6]:
df.idxmax()

0    công
1     ảnh
2     đội
3    bệnh
4     thể
5      du
6    công
dtype: object

0.    công (means work or technique)
1.     ảnh (means pictures, relating to movies, images)
2.     đội (means team)
3.    bệnh (means disease)
4.     thể (means body)
5.      du (means to travel)
6.    công (means work or technique)

Class 0 and 6 can be a potential problem for our model, but models should not only rely on the most recurring words for their prediction. Let's train some models to see how good this dataset is.