<a href="https://colab.research.google.com/github/tiendatngcs/NLP/blob/master/4_1_Naive_Bayes_classifier_Vietnamese_news_topic_classifier.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
import numpy as np
import pandas as pd
import pickle as pkl
from sklearn.naive_bayes import GaussianNB

In [27]:
with open("/content/drive/My Drive/filtered_corpus_df.pkl", "rb") as infile:
  df = pkl.load(infile)

In [28]:
df

               0   1   2    3    4   5    6
aaron          0   1   5    0    1   0    0
abbey          0   1   3    0    0   0    0
abc            1   5   0    1    5   0    0
abdelrahman    0   5   0    0    0   0    0
abe            6   0   0    0    0   0    0
...          ...  ..  ..  ...  ...  ..  ...
ủi             1   2   5    1   14   4    0
ủng           26  50  25   10   39  14   29
ủy            14   8   1   10    7   2   19
ức             1  20   4    8   16   3    0
ứng          306  47  71  194  100  89  760

[6018 rows x 7 columns]

In [ ]:
topics = ['business', 'entertainment', 'sports', 'health', 'life', 'travel', 'digital']

In [25]:
with open("/content/drive/My Drive/dtm.pkl", "rb") as infile:
  dtm = pkl.load(infile)

In [29]:
X = np.array(df).transpose()
Y = list(range(7))

In [30]:
GNB = GaussianNB()

In [31]:
GNB.fit(X=X, y=Y)

GaussianNB(priors=None, var_smoothing=1e-09)

In [39]:
test_text = "Thẻ HDBank MasterCard với những ưu đãi nổi trội mang đến những lợi ích 'siêu hấp dẫn' không chỉ về phí mà còn nhận quà trong chương trình 'Khách hàng vay - tặng ngay máy lọc không khí' khi thực hiện giao dịch thanh toán mua hàng. ‘Khách hàng vay - tặng ngay máy lọc không khí’ cùng thẻ HDBank MasterCard. Từ nay đến ngày 31.10.2020, 180 khách hàng đầu tiên khi mở mới thẻ tín dụng quốc tế HDBank MasterCard và có chi tiêu phát sinh từ 20.000.000 đồng trong vòng 30 ngày kể từ ngày phát hành thẻ sẽ được tặng ngay máy lọc không khí. Thẻ tín dụng quốc tế HDBank MasterCard là dòng thẻ mà HDBank hướng đến trong việc đáp ứng đầy đủ các nhu cầu của khách hàng về du lịch, ăn uống, mua sắm và chi tiêu online. Với ưu đãi lên đến 14 triệu đồng/năm và miễn lãi lên đến 45 ngày sẽ mang tới cho chủ thẻ nhiều trải nghiệm hữu ích và thiết thực hơn. Khách hàng có thể thoải mái sử dụng thẻ tín dụng quốc tế HDBank MasterCard để giải quyết những vấn đề tài chính cá nhân mà vẫn có thể giảm bớt gánh nặng trong thanh toán. Bên cạnh đó, khi khách hàng sở hữu tấm thẻ này sẽ nhận được nhiều lợi ích từ chuỗi ưu đãi “khủng” khi kết hợp mua hàng và thanh toán trên các trang mua sắm trực tuyến, đối tác của HDBank như Tiki, Lazada, Shopee, Samsung... Với những đặc tính nổi trội, Thẻ tín dụng quốc tế HDBank MasterCard là “bí kíp” tiêu dùng hữu ích cho người trẻ trong cuộc sống hiện đại. Đặc biệt, vào thời điểm dịch Covid-19 bùng phát, chủ thẻ hoàn toàn có thể thực hiện giao dịch online mà không cần tập trung nơi đông người để mua sắm, thanh toán trực tiếp. Dùng thẻ để thanh toán chính là một phương thức thanh toán hiện đại và thẻ tín dụng quốc tế HDBank MasterCard là một lựa chọn phù hợp cho khách hàng bởi tính an toàn, tiện lợi và độ bảo mật cao với chuẩn chip EMV và công nghệ 3D Secure cho các giao dịch online. Đặc biệt quý khách hàng không còn phải lo lắng chuyển đổi ngoại tệ khi sử dụng thẻ để thanh toán khi đi công tác hoặc du lịch nước ngoài."

In [40]:
test_x = dtm.transform([test_text]).toarray()

In [41]:
GNB.predict(test_x)

array([1])